@model AssetManagement.Domain.Entities.Ticket
@{
    ViewBag.Title = "AcknowlageTicket";
    Layout = "~/Views/Shared/_assetms.cshtml";
}
<h2>AcknowlageTicket</h2>

<p>Subject</p>@Model.subject
<p>Technician</p>@Model.employeeNumber;