@model AssetManagement.Domain.Entities.Ticket
@using PagedList.Mvc
@using PagedList
@{ 
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/_TechnicianLayout.cshtml";
}

<div style="margin-bottom:10%;"></div>
<div class="jumbotron" id="ticketDiv" >
    <h3 style="color:rgba(96, 68, 177, 1.00)">@Model.subject</h3>
    <small>@Model.description</small>
    <br />
    @Html.ActionLink("Request Part","ReplacementPart","ReplacementPart",null, new { @class = "btn btn-default", @readonly="readonly" })
</div>


