@model AssetManagement.Domain.Entities.ArchiveMail

@{
    ViewBag.Title = "DeleteMail";
    Layout = "~/Views/Shared/_assetsms.cshtml";
}
<div style="margin-bottom:10%;"></div>
<h2>Discard</h2>
<h3>Are you sure you want to discard this ticket?</h3>

    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" /> || @Html.ActionLink("Back to List", "Inbox")
            </div>
        </div>
    }
