@*@model IEnumerable<AssetManagement.Domain.Entities.Ticket>*@
@model AssetManagement.Business.HelpDeskSystem.HelpDeskLogic
@{ 
    Layout = "~/Views/Shared/_helpd.cshtml";
    
}
<style>
    body{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div style="margin-bottom:10%;"></div>
<h3 id="technician">@Session["Technician"].ToString()'s Tickets</h3>
<ol class="breadcrumb" id="nav_map">
    <li><i class="fa fa-home"></i>@Html.ActionLink("Home", "Dashboard", "Dashboard")</li>
    <li><i class="fa fa-file-text-o"></i><a href="/Report/Index">Report</a></li>
    <li><i class="fa fa-gear"></i>Tickets</li>
</ol>

