<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Help Desk System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">
    <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/widgets.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/xcharts.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/customcss.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/css/elusive-icons.css" rel="stylesheet" />
    <script src="~/Content/AdminLayout/js/jquery.js"></script>
    <script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap-confirmation.min.js"></script>*@
    
   <!--254817-->
</head>
<body>
    <style>
        body {
            font-family: Arial;
        }
        .table{
            margin-bottom:0px;
        }
    </style>
    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
        </div>
        <div style="margin-top:20px">
            Technician : @User.Identity.Name
        </div>
    </header>
    <div>
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a href="~/Technician/Index">
                            <i class="icon_house_alt"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Technician/Index">
                            <i class="icon_genius"></i>
                            <span>Tickets</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Technician/MyAssets">
                            <i class="fa fa-laptop"></i>
                            <span>My Assets</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="~/Tickets/KnowlageBase">
                            <i class="fa fa-info-circle"></i>
                            <span>Knowlage Base</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="el el-off"></i>
                            <span>Account</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tenth PLANET</p>
        </footer>
    </div>
    <script src="~/Content/AdminLayout/js/jquery-ui-1.10.4.min.js"></script>
    @*<script src="~/Content/AdminLayout/js/jquery-1.8.3.min.js"></script>*@
    <script src="~/Content/AdminLayout/js/jquery-ui-1.9.2.custom.min.js"></script>
    @*<script src="~/Content/AdminLayout/js/bootstrap.min.js"></script>*@
    <script src="~/Content/AdminLayout/js/jquery.scrollTo.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.nicescroll.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.sparkline.js"></script>
    <script src="~/Content/AdminLayout/js/owl.carousel.js"></script>
    @*<script src="~/Content/AdminLayout/assets/jquery-knob/js/jquery.knob.js"></script>*@
    <script src="~/Content/AdminLayout/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.slimscroll.min.js"></script>
    @*<script src="~/Content/AdminLayout/js/charts.js"></script>*@
    <script src="~/Content/AdminLayout/js/sparklines.js"></script>
    <script src="~/Content/AdminLayout/js/gdp-data.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.placeholder.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.autosize.min.js"></script>
    <script src="~/Content/AdminLayout/js/xcharts.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/AdminLayout/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/AdminLayout/js/easy-pie-chart.js"></script>
    <script src="~/Content/AdminLayout/js/sparkline-chart.js"></script>
    <script src="~/Content/AdminLayout/js/scripts.js"></script>
    @*<script src="~/Content/AdminLayout/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/AdminLayout/js/jquery.rateit.min.js"></script>
    <script src="~/Content/AdminLayout/js/calendar-custom.js"></script>
    <script src="~/Content/AdminLayout/js/fullcalendar.min.js"></script>
    <script src="~/Content/AdminLayout/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="~/Content/AdminLayout/assets/chart-master/Chart.js"></script>*@
 
    <script>
        $(document).ready(function () {
            var tableAllDiv = $('#table-scroll-all');
            var tabaleAll = $('#tableAll');
            var tableScrollAllRows = $('#tableAll tr').length;
            console.log("tableScrollAllRows : ", tableScrollAllRows);
            console.log("#headerDivAll : ", $('#headerDivAll').css("padding-right"));
            if (tableScrollAllRows <= 5) {
                $('#headerDivAll').css("padding-right", 0)
                $('#headerDivAll').css("margin-right", 0)
                console.log("#headerDivAll padding right is now : ", $('#headerDivAll').css("padding-right"))
                console.log("#headerDivAll margin right is now : ", $('#headerDivAll').css("margin-right"))
            } else {
                console.log("#headerDivAll padding right is still : ", $('#headerDivAll').css("padding-right"))
                console.log("#table-scroll-all width : ", $('#table-scroll-all').css("height"))
            }
        });
        $(document).ready(function () {
            var tableUnAcknowlagedDiv = $('#table-scroll-unacknowlaged');
            var tabaleAcknowlaged = $('#tableUnAcknowlaged');
            var tableScrollAcknowlagedRows = $('#tableUnAcknowlaged tr').length;
            console.log("tableScrollAcknowlagedRows : ", tableScrollAcknowlagedRows);
            console.log("#HeaderDivUnAcknowlaged : ", $('#HeaderDivUnAcknowlaged').css("padding-right"));
            if (tableScrollAcknowlagedRows <= 5) {
                $('#HeaderDivUnAcknowlaged').css("padding-right", 0)
                $('#HeaderDivUnAcknowlaged').css("margin-right", 0)
                console.log("#HeaderDivUnAcknowlaged padding right is now : ", $('#HeaderDivUnAcknowlaged').css("padding-right"))
                console.log("#HeaderDivUnAcknowlaged margin right is now : ", $('#HeaderDivUnAcknowlaged').css("margin-right"))
            } else {
                console.log("#HeaderDivUnAcknowlaged padding right is still : ", $('#HeaderDivUnAcknowlaged').css("padding-right"))
                console.log("#table-scroll-unacknowlaged width : ", $('#table-scroll-unacknowlaged').css("height"))
            }
        });
        $(document).ready(function () {
            var tableCompletedDiv = $('#table-scroll-completed');
            var tabaleCompleted = $('#tableCompleted');
            var tableScrollCompletedRows = $('#tableCompleted tr').length;
            console.log("tableScrollCompletedRows : ", tableScrollCompletedRows);
            console.log("#HeaderDivCompleted : ", $('#HeaderDivCompleted').css("padding-right"));
            if (tableScrollCompletedRows <= 5) {
                $('#HeaderDivCompleted').css("padding-right", 0)
                $('#HeaderDivCompleted').css("margin-right", 0)
                console.log("#HeaderDivCompleted padding right is now : ", $('#HeaderDivCompleted').css("padding-right"))
                console.log("#HeaderDivCompleted margin right is now : ", $('#HeaderDivCompleted').css("margin-right"))
            } else {
                console.log("#HeaderDivCompleted padding right is still : ", $('#HeaderDivCompleted').css("padding-right"))
                console.log("#table-scroll-completed width : ", $('#table-scroll-completed').css("height"))
            }
        });
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
        $('#trigger').click(function () {
            $('#myModal').modal('show');
        });

    </script>
</body>
</html>
