@model AssetManagement.Domain.Entities.Asset

@{
    ViewBag.Title = "Return";
    Layout = "~/Views/Shared/_assetsms.cshtml";
    
}
<div style="margin-bottom:10%;"></div>

<h3 class="page-header">
    <i class="fa fa-file-text-o"></i>
    
    Return asset #@Model.assetNumber (@Model.catergory) to storage...
</h3>

<ol class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="#">Home</a></li>
    <li><i class="fa fa-desktop"></i>Assets</li>
    <li><i class="fa fa-list-alt"></i>Return Asset</li>
</ol>

 
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Return" class="btn btn-primary" /> |
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
